{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Uploads{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Uploads</h1>
        {% if uploads %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> File Name </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for upload in uploads %}
                <tr>
                  <td> {{ upload.file }} </td>
                  <td>
                    <a href="{{ url_for('auth.delete_upload', id=upload.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No files have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('auth.upload_file') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Upload File
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}